.lsp-session-v1
auto-save-list/
configuration.el
readme.el
straight/build/
straight/repos/
url/
init.el~
transient/
projectile-bookmarks.eld
#*
*~
eshell/
markdown-enhancements.el
markdown-main.el
keybindings.el
recentf
markdown/markdown-main.el
markdown/markdown-keybindings.el
anaconda-mode/
org-roam.db
org/capture.el.db
org/capture.el
org/roam.el
*.elc
python/python.el
pom.xml
pom.xml.asc
*.jar
*.class
testfiles/clotest/lib/
testfiles/clotest/classes/
testfiles/clotest/target/
testfiles/clotest/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
