auto-save-list/
configuration.el
readme.el
straight/build/
straight/repos/
url/
init.el~
transient/
projectile-bookmarks.eld
#*
*~
eshell/
markdown-enhancements.el
markdown-main.el
keybindings.el
recentf
markdown/markdown-main.el
markdown/markdown-keybindings.el
anaconda-mode/
